@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building ASP.NET Core MVC applications.</p>

    <!-- Länk till Customers/Index -->
    <a class="btn btn-primary" asp-controller="Customers" asp-action="Index">View Customers</a>
    <a class="btn btn-primary" asp-controller="BookLoans" asp-action="Index">View Book Loans</a>
</div>
